Workspace/training4-american-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="21d5a077-8811-4a69-aee9-827ee4b44ae9" >
		<db:generic-connection url="jdbc:derby://localhost:1527/memory:training" driverClassName="org.apache.derby.jdbc.ClientDriver" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="56a31d3a-742f-4ac4-81d0-89c75f616880" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="a27fd2ea-e8c9-4af9-b89d-d01e93c81081" >
		<db:select doc:name="Select" doc:id="17d8b20d-31c2-44ec-98d6-8a80d75230d8" config-ref="Database_Config1">
			<db:sql >SELECT *

FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5af8c081-36d2-4cfd-9dd0-09cf8ca08a04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="a385348b-537b-40b7-95a7-8493b4caaa98" >
		<db:select doc:name="Copy_of_Select" doc:id="9a7b70a0-78f7-4b6b-947c-2878246b5e9a" config-ref="Database_Config1" >
			<db:sql >SELECT *

FROM American

WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="279c90ec-a58b-4e18-a206-26eb4cfbc686" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="training4-american-wsFlow" doc:id="9dee4de7-c836-4c73-a626-0bd618e22436" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="6572be1f-fffc-4732-abdf-7332799be562" />
	</flow>
</mule>
