Workspace/apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="ba44f242-3d12-4445-9ed0-25911da5e055" >
		<http:listener doc:name="Listener" doc:id="055810b2-b8fc-4073-8a0f-24962d9a7b51" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="7227d177-8ede-4b97-b158-26f275822cf9" name="subflow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="4de35e3a-5131-4c3a-82a9-49cde1155482" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="c6144785-9b20-4c00-a35a-2e741b155695" message="#[attributes.queryParams.fullName]"/>
	</flow>
	<flow name="privateFlow" doc:id="63d487d7-14b7-457c-8bd9-481b896675f3">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="64bffbe8-4400-4139-ae88-2b4a381a1bd5" path="/goodbye" config-ref="HTTP_Request_configuration" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subflow" doc:id="b00df9dc-66f7-4e65-86b3-4c09a1f481e2" >
		<set-variable value="#[attributes.queryParams.fname]" doc:name="firstName" doc:id="2709ef71-dbff-4523-8afd-6180ee70cee6" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="1b3bdaff-9713-4ef3-a34c-d6cbb9ab5d72" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="e5bdcbf3-f5fe-4c0f-9179-c3d0aff2c2ab">
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="3b614791-ef4a-43a1-9c99-46459182d822" config-ref="VM_Config" timeout="300"/>
		<set-payload value="#[upper('Goodbye')]" doc:name="Goodbye" doc:id="abab3595-4bed-47a0-a1b2-d4f27b12ea66" />
		<logger level="INFO" doc:name="fullName" doc:id="b93987af-9192-4383-9cea-b6a1725bc901" message="#[upper('Goodbye')]" />
	</flow>
</mule>
